@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.background');
    color: theme('colors.primary');
    /* Mapping Avenir to a similar clean sans-serif like Nunito Sans as Avenir is not free on Google Fonts */
    font-family: "Nunito Sans", sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Libre Caslon Text", serif;
  }

  /* Force 0px border radius on everything */
  * {
    border-radius: 0px !important;
  }
}
